{$name}</br>
{$age}</br>
{$sex}</br>
{$salary}</br>
{//输出数组}
<br>
{$goods.id}</br>
{$goods.name}</br>
{$goods['model']}</br>
{//输出对象}
<hr>
{$inf->course}<br>
{$inf->leture}<br>

{//输出常量}
{$Think.const.SITE_NAME}</BR>

{//输出PHP系统常量}
{$Think.const.PHP_VERSION}</BR>
{$Think.const.PHP_OS}</br>

{//查看系统变量}
当前脚本{$Think.server.php_self}</br>
{$Think.server.session.id}</br>
{$Think.server.post.name}</br>
<hr>
{$Think.server.get.name}</br>

{//查看自定义配置}
{$Think.config.database.hostname}</br>
{//输出请求变量}
get请求变量获取{$Request.get.name}<br>

{$Request.param.name}<br>
{$Request.path}<br>
{$Request.root}<br>
看域名{$Request.root.true}<br>
控制器{$Request.controller}<br>
方法{$Request.action}<br>
{$Request.host}<br>
{$Request.ip}<br>

